In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

In [5]:
!pip install -q pyarrow

In [6]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [7]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.5,0.5,6.90,0.0,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.0,0.5,10.00,0.0,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.5,0.5,0.00,0.0,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.0,0.5,0.00,0.0,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.0,0.5,0.00,0.0,1.0,8.00,2.5,0.00

In [8]:
import sklearn

# Homework 1

In [1]:
import pandas as pd
import numpy as np

yellow_taxi = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

In [2]:
yellow_taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

Question 1

In [3]:
yellow_taxi.columns.__len__()

19

Question 2

In [2]:
def duration_in_minutes(df):
    duration = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    return duration / pd.Timedelta(minutes=1)

yellow_taxi['duration'] = duration_in_minutes(yellow_taxi)

In [3]:
yellow_taxi['duration'].std()

42.59435124195458

Question 3

In [4]:
filtered_df = yellow_taxi[ (yellow_taxi.duration >= 1) & (yellow_taxi.duration <= 60)]
filtered_rows = filtered_df.shape[0]
filtered_rows

3009173

In [5]:
filtered_rows / yellow_taxi.shape[0]

0.9812202822125979

Question 4 One-hot encoding

In [6]:
# Turn the dataframe into a list of dictionaries
# (remember to re-cast the ids to strings 
# otherwise it will label encode them)

def get_feature_dict(filtered_df):
    pul = filtered_df.PULocationID.astype(str).reset_index(drop=True)
    dol = filtered_df.DOLocationID.astype(str).reset_index(drop=True)

    return [ {"PULocationID": pul[i], "DOLocationID": dol[i], } for i in range(filtered_df.shape[0]) ]

feature = get_feature_dict(filtered_df)
feature[:5]

[{'PULocationID': '161', 'DOLocationID': '141'},
 {'PULocationID': '43', 'DOLocationID': '237'},
 {'PULocationID': '48', 'DOLocationID': '238'},
 {'PULocationID': '138', 'DOLocationID': '7'},
 {'PULocationID': '107', 'DOLocationID': '79'}]

In [7]:
# Fit a dictionary vectorizer

from sklearn.feature_extraction import DictVectorizer

vec = DictVectorizer()

# feature matrix array:
feature_matrix = vec.fit_transform(feature).toarray()
feature_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [8]:
feature_names = vec.get_feature_names_out()

In [9]:
# display feature names
np.random.choice(feature_names, size=10)

array(['PULocationID=190', 'PULocationID=97', 'PULocationID=133',
       'PULocationID=163', 'DOLocationID=61', 'DOLocationID=247',
       'PULocationID=56', 'PULocationID=192', 'PULocationID=206',
       'PULocationID=181'], dtype=object)

Question 5 linear regression

Now let's use the feature matrix from the previous step to train a model.

Train a plain linear regression model with default parameters, where duration is the response variable
Calculate the RMSE of the model on the training data
What's the RMSE on train?

In [10]:
feature_matrix.shape

(3009173, 515)

In [13]:
# closed-form solution

X = feature_matrix

X = np.c_[np.ones(X.shape[0]), X]
beta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

KeyboardInterrupt:

In [ ]:
from sklearn import linear_model

reg = linear_model.LinearRegression()

X = feature_matrix
y = filtered_df.duration.values
reg.fit(X, y)

In [ ]:
from sklearn.metrics import root_mean_squared_error

y_true = reg.transform(feature_matrix)
y_pred = filtered_df.duration.toarray()

root_mean_squared_error(y_true, y_pred)

Question 6 Validation

In [26]:
validation_df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

In [27]:
validation_df['duration'] = duration_in_minutes(validation_df)

filtered_val = validation_df[(validation_df.duration <= 60) & (validation_df.duration >= 1)]

feature_val = get_feature_dict(filtered_val)
feature_matrix_val = vec.transform(feature_val).toarray()

feature_matrix_val

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [28]:
feature_matrix_val.shape

(2855951, 515)